<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .custom-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  </style>
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Nexus.team</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">구성원</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">급여</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">근무</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">휴가</a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <span class="me-3" th:text="${userName}"></span>
        <a class="btn btn-outline-danger" href="/logout">로그아웃</a>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container mt-5">

    <h3>내 휴가</h3>

    <!-- 휴가 등록 섹션 -->
    <h5 style="margin-top:40px;">휴가 등록</h5>
    <div style="margin-top:10px;" class="row row-cols-1 row-cols-md-4 g-4" id="card-container">
      <div class="col">
        <div class="card btn" style="width: 18rem;">
          <div class="card-body" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">
            <h5 class="card-title">연차</h5>
            <p class="card-text">사용 가능일:</p>
          </div>
        </div>
      </div>
    </div>

    <!-- 휴가 사용 계획 섹션 -->
    <div>
      <h5 style="margin-top:40px;">휴가 사용 계획</h5>
      <div id="vacation-plan-container">
        <div style="margin-top:20px;" class="list-group">
          <a class="list-group-item list-group-item-action" data-bs-toggle="offcanvas" data-bs-target="#vacationInfo"
            aria-controls="vacationInfo">승인상태 휴가종류 시작날짜</a>
        </div>
      </div>
    </div>


    <!-- 휴가 사용 기록 섹션 -->
    <div>
      <h5 style="margin-top:40px;">휴가 사용 기록</h5>
      <div id="vacation-record-container">
        <div style="margin-top:20px;" class="list-group">
          <a class="list-group-item list-group-item-action" data-bs-toggle="offcanvas" data-bs-target="#vacationInfo"
            aria-controls="vacationInfo">승인상태 휴가종류 시작날짜</a>
        </div>
      </div>
    </div>



    <!-- 휴가 등록 Offcanvas -->
    <div class="offcanvas offcanvas-end w-25 p-3" tabindex="-1" id="offcanvasRight" aria-labelledby="vacationAddLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="vacationAddLabel">연차</h5>
        <h6 style="margin-left: auto;" class="offcanvas-title" id="vacation-days">(사용 가능일:1)</h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="mb-3">
        <h6>휴가 일정 입력</h6>
        <div class="custom-container">
          <form>
            <input type="datetime-local" id="start-datetime" name="datetime-local">
            <span>~</span>
            <input type="datetime-local" id="end-datetime" name="datetime-local">
          </form>
        </div>
      </div>
      <button type="button" class="btn btn-secondary">휴가 신청</button>
    </div>

    <!--휴가 정보 Offcanvas-->
    <div class="offcanvas offcanvas-end w-25 p-3" tabindex="-1" id="vacationInfo" aria-labelledby="vacationInfoLabel">
      <div class="offcanvas-header mb-5">
        <h5 class="offcanvas-title" id="vacationInfoLabel">00님의 휴가</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="mb-3">
        <h6>휴가종류</h6>
      </div>

      <div class="mb-3">
        <h6>휴가기간</h6>
      </div>

      <div class="mb-3">
        <h6>승인상태</h6>
      </div>

    </div>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      fetch('http://localhost:8080/vacation-type', {
        method: 'GET',
        credentials: "include"
      })
        .then(response => response.json())
        .then(data => {
          console.log(data)
          const dataContainer = document.getElementById('card-container');
          data.forEach(vacationType => {
            // 카드의 col div 생성
            let colDiv = document.createElement('div');
            colDiv.className = 'col';

            // 카드의 card div 생성
            let cardDiv = document.createElement('div');
            cardDiv.className = 'card btn';
            cardDiv.style.width = '18rem';

            // 카드의 card-body div 생성
            let cardBodyDiv = document.createElement('div');
            cardBodyDiv.className = 'card-body';
            cardBodyDiv.setAttribute('data-bs-toggle', 'offcanvas');
            cardBodyDiv.setAttribute('data-bs-target', '#offcanvasRight');
            cardBodyDiv.setAttribute('aria-controls', 'offcanvasRight');

            // 카드 제목과 텍스트 생성
            let cardTitle = document.createElement('h5');
            cardTitle.className = 'card-title';
            cardTitle.textContent = vacationType.name; // 카드 제목

            let cardText = document.createElement('p');
            cardText.className = 'card-text';
            cardText.textContent = `사용가능일: ${vacationType.days}`; // 카드 내용

            // 카드 본문에 제목과 텍스트 추가
            cardBodyDiv.appendChild(cardTitle);
            cardBodyDiv.appendChild(cardText);

            // 카드에 카드 본문 추가
            cardDiv.appendChild(cardBodyDiv);

            // col에 카드 추가
            colDiv.appendChild(cardDiv);

            // card-container에 col 추가
            cardContainer.appendChild(colDiv);
          });
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });

      fetch('http://localhost:8080/vacation/before', {
        method: 'GET',
        credentials: "include"
      })
        .then(response => response.json())
        .then(data => {
          console.log(data)
          const dataContainer = document.getElementById('vacation-plan-container');
          data.forEach(vacation => {
            // list-group 생성
            let listGroupDiv = document.createElement('div');
            listGroupDiv.className = 'list-group';
            listGroupDiv.style.marginTop = '20px';

            // list-group-itme 생성
            let item = document.createElement('a');
            item.className = 'list-group-item list-group-item-action';
            item.setAttribute('data-bs-toggle', 'offcanvas');
            item.setAttribute('data-bs-target', '#vacationInfo');
            item.setAttribute('aria-controls', 'vacationInfo');

            if (vacation.approvalStatus == 'PENDDING') {
              vacation.approvalStatus = '승인대기'
            } else if (vacation.approvalStatus == 'APPROVED') {
              vacation.approvalStatus = '승인완료'
            } else {
              vacation.approvalStatus = '승인거절'
            }

            cardText.textContent = `${vacation.approvalStatus} ${vacation.vacationTypeName}  ${vacation.vacationTypeDays}`;

            // list-group에 list-group-itme 추가
            listGroupDiv.appendChild(item);

            item.addEventListener('click', function () {
              const vacationAddLabel = document.getElementById('vacationAddLabel');
              const vacationDays = document.getElementById('vacation-days');
              vacationAddLabel.textContent = vacation.vacationTypeName;
              vacationDays.textContent = `사용가능일:${vacation.vacationTypeDays}`;
            });
          });
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });

      fetch('http://localhost:8080/vacation/after', {
        method: 'GET',
        credentials: "include"
      })
        .then(response => response.json())
        .then(data => {
          console.log(data)
          const dataContainer = document.getElementById('card-container');
          data.forEach(vacationType => {
            // list-group 생성
            let listGroupDiv = document.createElement('div');
            listGroupDiv.className = 'list-group';
            listGroupDiv.style.marginTop = '20px';

            // list-group-itme 생성
            let item = document.createElement('a');
            item.className = 'list-group-item list-group-item-action';
            item.setAttribute('data-bs-toggle', 'offcanvas');
            item.setAttribute('data-bs-target', '#vacationInfo');
            item.setAttribute('aria-controls', 'vacationInfo');

            if (vacation.approvalStatus == 'PENDDING') {
              vacation.approvalStatus = '승인대기'
            } else if (vacation.approvalStatus == 'APPROVED') {
              vacation.approvalStatus = '승인완료'
            } else {
              vacation.approvalStatus = '승인거절'
            }

            cardText.textContent = `${vacation.approvalStatus} ${vacation.vacationTypeName}  ${vacation.vacationTypeDays}`;

            // list-group에 list-group-itme 추가
            listGroupDiv.appendChild(item);

            item.addEventListener('click', function () {
              const offcanvasTitle = document.getElementById('vacationInfoLabel');


              offcanvasTitle.textContent = `${vacation.employeeUserName}의 휴가`;
            });
          });
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });

      document.getElementById('submitButton').addEventListener('click', function () {
        // 폼 데이터 수집
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;

        // API 요청 데이터 구성
        const data = {
          name: name,
          email: email
        };

        // Fetch API를 사용하여 POST 요청 보내기
        fetch('http://localhost:8080/api/submit', {
          method: 'POST', // HTTP 메서드 설정
          headers: {
            'Content-Type': 'application/json' // JSON 데이터 전송
          },
          body: JSON.stringify(data) // 데이터를 JSON 문자열로 변환
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
          })
          .then(data => {
            console.log('Success:', data);
            // 요청이 성공했을 때 실행할 코드
          })
          .catch((error) => {
            console.error('Error:', error);
            // 에러가 발생했을 때 실행할 코드
          });
      });
    });




  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>